/* apps/hosted-app/src/styles/ag-grid-fanta-theme.css */

.ag-theme-quartz {
    --ag-background-color: var(--app-card-bg-color);
    --ag-foreground-color: var(--app-text-color);
    --ag-header-background-color: var(--app-bg-color);
    --ag-odd-row-background-color: var(--app-card-bg-color);
    --ag-row-hover-color: var(--app-bg-color-hover);
    --ag-border-color: var(--app-border-color);
    --ag-font-family: var(--font-family-sans);
    --ag-font-size: 14px;
}